body, html {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 3em;
  font-weight: 500;
}

.bottom {
  margin-top: 16px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
